In [1]:
import pandas as pd

In [4]:
data1 = pd.read_excel('../../Datasets/2022 Ground Checks - Localizer.xlsx')
data1.head()

,GROUND CHECKS - LOCALIZER FREQUENCY - 108.90 MHz,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,TX1,NaN,POINTS,TX2,NaN,NaN,rTX1,NaN,POINTS,rTX2,NaN
1,DDM,SDM,ANGLE,DDM,SDM,NaN,DDM,SDM,ANGLE,DDM,SDM
2,30.18,39.74,35,27.8,39.52,NaN,35.13,40.03,35,33.62,39.77
3,26.93,40.1,30,26.55,39.99,NaN,26.93,40.04,30,26.79,39.93
4,23.43,40.07,25,24.87,40.08,NaN,22.85,40.01,25,24.09,40.12

In [5]:
data1.columns

Index(['GROUND CHECKS - LOCALIZER                              FREQUENCY - 108.90 MHz',
       'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10'],
      dtype='object')

In [11]:
header = data1.iloc[1]
header

GROUND CHECKS - LOCALIZER                              FREQUENCY - 108.90 MHz      DDM
Unnamed: 1                                                                         SDM
Unnamed: 2                                                                       ANGLE
Unnamed: 3                                                                         DDM
Unnamed: 4                                                                         SDM
Unnamed: 5                                                                         NaN
Unnamed: 6                                                                         DDM
Unnamed: 7                                                                         SDM
Unnamed: 8                                                                       ANGLE
Unnamed: 9                                                                         DDM
Unnamed: 10                                                                        SDM
Name: 1, dtype: object

In [12]:
data1.columns = header

In [14]:
data1.head(10)

1    DDM    SDM   ANGLE    DDM    SDM  NaN    DDM    SDM   ANGLE    DDM    SDM
0    TX1    NaN  POINTS    TX2    NaN  NaN   rTX1    NaN  POINTS   rTX2    NaN
1    DDM    SDM   ANGLE    DDM    SDM  NaN    DDM    SDM   ANGLE    DDM    SDM
2  30.18  39.74      35   27.8  39.52  NaN  35.13  40.03      35  33.62  39.77
3  26.93   40.1      30  26.55  39.99  NaN  26.93  40.04      30  26.79  39.93
4  23.43  40.07      25  24.87  40.08  NaN  22.85  40.01      25  24.09  40.12
5  28.47  40.05      20  28.22  39.93  NaN  28.25  40.03      20  27.52  39.94
6   37.6  39.99      15  33.91  39.62  NaN  38.03  40.06      15   34.2  39.69
7  39.84  42.68      10  38.62  39.37  NaN  39.81  43.85      10  39.38  41.45
8  29.38  39.88       5   29.1  39.74  NaN  28.31  39.58       5   27.9   39.5
9  22.35  39.88       4  22.21  39.77  NaN  20.92  39.73       4  21.03  39.66

In [17]:
data1 = data1.drop([0,1], axis=0)

In [18]:
data1.head()

1    DDM    SDM ANGLE    DDM    SDM  NaN    DDM    SDM ANGLE    DDM    SDM
2  30.18  39.74    35   27.8  39.52  NaN  35.13  40.03    35  33.62  39.77
3  26.93   40.1    30  26.55  39.99  NaN  26.93  40.04    30  26.79  39.93
4  23.43  40.07    25  24.87  40.08  NaN  22.85  40.01    25  24.09  40.12
5  28.47  40.05    20  28.22  39.93  NaN  28.25  40.03    20  27.52  39.94
6   37.6  39.99    15  33.91  39.62  NaN  38.03  40.06    15   34.2  39.69

In [23]:
data1.columns

Index(['DDM', 'SDM', 'ANGLE', 'DDM', 'SDM', nan, 'DDM', 'SDM', 'ANGLE', 'DDM',
       'SDM'],
      dtype='object', name=1)

In [29]:
type(data1.columns[5])

numpy.float64

In [31]:
nan_columns = data1.columns[pd.isnull(data1.columns)]

In [32]:
nan_columns

Index([nan], dtype='object', name=1)

In [35]:
data1.drop(columns=nan_columns, inplace=True)

KeyError: '[nan] not found in axis'