In [1]:
import pandas as pd

In [4]:
df = pd.read_excel('/home/andrews-tang/Datasets/ILS_dataset.xlsx')
df.head()

,ANGLE,DDM_T1,DDM_T2,SDM_T1,SDM_T2,DDM_T1_std,DDM_T2_std,SDM_T1_std,SDM_T2_std,Unnamed: 9,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,35.0,33.22,32.30,40.04,39.77,35.13,33.62,40.03,39.77,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,30.0,26.87,26.44,40.08,39.92,26.93,26.79,40.04,39.93,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,25.0,22.69,24.38,40.11,40.09,22.85,24.09,40.01,40.12,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20.0,28.45,27.77,40.07,39.96,28.25,27.52,40.03,39.94,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,15.0,38.10,34.03,40.04,39.71,38.03,34.20,40.06,39.69,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.columns

Index(['ANGLE', 'DDM_T1', 'DDM_T2', 'SDM_T1', 'SDM_T2', 'DDM_T1_std',
       'DDM_T2_std', 'SDM_T1_std', 'SDM_T2_std', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22',
       'Unnamed: 23', 'Unnamed: 24'],
      dtype='object')

In [6]:
columns_to_remove = ['Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 
                     'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 
                     'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 
                     'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 
                     'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 
                     'Unnamed: 24']

columns_to_remove

['Unnamed: 9',
 'Unnamed: 10',
 'Unnamed: 11',
 'Unnamed: 12',
 'Unnamed: 13',
 'Unnamed: 14',
 'Unnamed: 15',
 'Unnamed: 16',
 'Unnamed: 17',
 'Unnamed: 18',
 'Unnamed: 19',
 'Unnamed: 20',
 'Unnamed: 21',
 'Unnamed: 22',
 'Unnamed: 23',
 'Unnamed: 24']

In [8]:
df.drop(columns=columns_to_remove, axis=1, inplace=True)

In [9]:
df.head()

,ANGLE,DDM_T1,DDM_T2,SDM_T1,SDM_T2,DDM_T1_std,DDM_T2_std,SDM_T1_std,SDM_T2_std
0,35.0,33.22,32.30,40.04,39.77,35.13,33.62,40.03,39.77
1,30.0,26.87,26.44,40.08,39.92,26.93,26.79,40.04,39.93
2,25.0,22.69,24.38,40.11,40.09,22.85,24.09,40.01,40.12
3,20.0,28.45,27.77,40.07,39.96,28.25,27.52,40.03,39.94
4,15.0,38.10,34.03,40.04,39.71,38.03,34.20,40.06,39.69

In [17]:
data1 = data1.drop([0,1], axis=0)

In [18]:
data1.head()

1    DDM    SDM ANGLE    DDM    SDM  NaN    DDM    SDM ANGLE    DDM    SDM
2  30.18  39.74    35   27.8  39.52  NaN  35.13  40.03    35  33.62  39.77
3  26.93   40.1    30  26.55  39.99  NaN  26.93  40.04    30  26.79  39.93
4  23.43  40.07    25  24.87  40.08  NaN  22.85  40.01    25  24.09  40.12
5  28.47  40.05    20  28.22  39.93  NaN  28.25  40.03    20  27.52  39.94
6   37.6  39.99    15  33.91  39.62  NaN  38.03  40.06    15   34.2  39.69

In [23]:
data1.columns

Index(['DDM', 'SDM', 'ANGLE', 'DDM', 'SDM', nan, 'DDM', 'SDM', 'ANGLE', 'DDM',
       'SDM'],
      dtype='object', name=1)

In [29]:
type(data1.columns[5])

numpy.float64

In [31]:
nan_columns = data1.columns[pd.isnull(data1.columns)]

In [32]:
nan_columns

Index([nan], dtype='object', name=1)

In [35]:
data1.drop(columns=nan_columns, inplace=True)

KeyError: '[nan] not found in axis'